<div class="card">
  <div class="card-block">
      <form [formGroup]="newCardForm" novalidate>
        <input placeholder="Take a note..." class="form-control" name="text" formControlName="text">
      </form>
  </div>
</div>