<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Notes</a>
</nav>
<div class="container-fluid text-center pb-5">
    <div class="row justify-content-end">
      <app-new-card-input (onCardAdd)="addCard($event)"></app-new-card-input>
    </div>
</div>
<app-card-list [cards]="cards"></app-card-list>